{% extends 'layout.html' %} 
{% block title %}Quên mật khẩu{% endblock %} 
{% block content %}
<section style="margin-top: 1rem">
    <p
        style="
            margin-top: 0.5rem; /* mt-2 */
            font-size: 16px;
            line-height: 1.75; /* leading-loose */
            color: #323437; /* text-gray-600 */
        "
    >
        Bạn đã yêu cầu đặt lại mật khẩu tài khoản của mình. Vui lòng nhấn vào nút bên dưới để đặt lại mật khẩu.
    </p>
    <p
        style="
            line-height: 1.75; /* leading-loose */
            color: #323437; /* text-gray-600 */
            font-size: 16px;
        "
    >
        Vui lòng không chia sẻ email này với bất kỳ ai.
    </p>
    <p
        style="
            line-height: 1.75; /* leading-loose */
            color: #323437; /* text-gray-600 */
            font-size: 16px;
        "
    >
        <a href="{{ link }}" style="
            color: #000; 
            background-color: #F3BA2F; 
            border-radius: 8px; 
            padding: 8px 16px;
            text-decoration: none;
            font-size: 14px;
            " 
        >
            Thay đổi mật khẩu
        </a>
    </p>
    <p style="color: #323437; /* text-gray-600 */ font-size: 16px">
        Trân thành cảm ơn ban đã sử dụng dịch vụ của chúng tôi.
    </p>
</section>
{% endblock %}
