<body style="max-width: 720px; margin: 1rem auto">
    <header>
        <a href="https://anhvanhoa.com">
            <img
                style="
                    width: 45px;
                    height: 45px;
                    border-radius: 8px;
                    object-fit: cover;
                    margin: 0 auto;
                "
                src="https://anhvanhoa.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.5d65b436.png&w=640&q=75"
                alt="Ánh Văn Hóa"
            />
        </a>
    </header>
    <main>
        {% block content %}
        <!-- Default content goes here -->
        {% endblock %}
    </main>
    <footer>
        <p style="color: #323437; /* text-gray-600 */ font-size: 16px">
            &copy; 2024 Ánh Văn Hóa. All rights reserved.
        </p>
    </footer>
</body>
